table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonSuccess {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

.buttonSuccess:hover {
    background-color: white;
    color: black;
}

.buttonPrimary {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
}

.buttonPrimary:hover {
    background-color: white;
    color: black;
}

.buttonDanger {
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
}

.buttonDanger:hover {
    background-color: white;
    color: black;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

.container {
    position: relative;
    padding: 20px;
}

.center {
    font-size: 18px;
    padding-left: 30%;
    padding-right: 30%;
}

.centerText {
    font-size: 18px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}